@import 'reset';
@import 'typography';


html
{
   scroll-behavior: smooth;
}

a
{
   color: inherit;
   &:hover
   {
      text-decoration: none;
      color: $pink-ruddy !important;
   }
}

:target
{
   padding-top: $pt-scroll;
}