//- COLORES
   $white: #FFF;
   $platinum: #E6E7E7;
   $gray-light: #D1D1D1;

   $fuzzy: #E56353;
   $pink-ruddy: #D76C69;
   $pink-spanish: #ECBCBA;

   $black-eerie: #121619;
   $black-raisin: #222323;
   $nickel: #6C6E70;

   $btn-bg-c: #707070;

//- FUENTE
   $ff-roboto: 'Roboto', sans-serif;
   $ff-playfair: 'Playfair Display', serif;
   $fw-light: 300;
   $fw-regular: 400;
   $fw-black: 900;
   $fs-small: 12px;
   $fs-small-author: 14px;
   $fs-medium: 16px;
   $fs-large: 18px;
   $fs-large-hash: 20px;
   $fs-x-large: 30px;
   $fs-xx-large: 70px;

//- OTROS
   $pt-scroll: 6.03rem;